asgiref==3.7.2
dj-database-url
Django==3.2.19
djangorestframework
gunicorn==20.1.0
psycopg2-binary
sqlparse==0.4.4
typing_extensions==4.7.0
python-decouple
Pillow
celery
redis
qrcode
reportlab
razorpay
django-storages[s3]
boto3
whitenoise==6.6.0